body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height: 100%;
  color: white;
  background-color: white;
  background:url('https://i.ibb.co/fYg0drx/ECRN.png');
  background-size: cover;
}

@media (max-width: 1024px) {
  body {
    height: 100vh;
  }

  .header {
    width: 180px
  }
}

#title {
  color: white;
  padding-bottom: 5px;
}

.container-fluid {
  padding: 0 6% 5% 6%;
}

.navbar {
  padding: 0 0 2rem;
}

.navbar-brand {
  font-weight: 800;
  font-size: 1.3rem;
}

.nav-brand-logo {
  width: 90px;
}

.nav-item {
  padding: 0 6px;
  color: white;
}

.firstcon {
  padding-top: 3%;
  padding-bottom: 0.8%;
  font-size: 15px;
}

.firstcon2 {
  padding-bottom: 0;
  font-size: 10px;
}

.carousel-item {
    height: 500px;
}
.carousel-item img{
    height: 500px;
}

@media only screen and (max-width: 760px) {
.carousel-item {
    height: 220px;
}
.carousel-item img{
    height: 220px;
}
}

.cartxt {
  color: white;
}

.big-white {
  padding-top: 2px;
  width: 20px;
  margin: 0 0 0 0;
}

.navbar {
  padding-bottom: 10px;
}

h1 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 16px;
  line-height: 1;
  color: white;
  padding: 0 4px 0 4px;
}


.abouttext {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 12px;
  line-height: 1;
  color: white;
  padding: 0 0 0 0;
}

.carousel-inner img {
  margin: auto;
}

.card-pad {
  text-align: center;
  padding: 0 10px 0 10px;
}

.hr {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.btn-light {
  padding: 2px 6px 2px 6px;
}

.card-body {
  padding: 1px 2px 4px 2px;
}

.card-title {
  margin-bottom: 4px;
}

.padding-left {
  padding-right: 2px;
}

.padding-last {
  padding-left: 2px;
}

.list-group {
  padding: 0 12px 0 12px;
}

.footer {
  color: black;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: white;
}

.a {
  text-decoration: none;
  color: black;
}

.social-icon {
  color: white;
  text-align: center;
  padding-left: 2px;
}

.social-icon:hover {
  color: #fffdd0;
}

.footerheight {
  padding-bottom: 0;
  margin-bottom: 0;
}
